<img src="https://www.nimbous.co/wp-content/uploads/2019/07/scikit-learn-logo-1024x300.png" />

In [1]:
# Let's listify the contents
what_were_covering = [
    "0. An end-to-end Scikit-Learn workflow",
    "1. Getting the data ready",
    "2. Choose the right estimator/algorithm for our problems",
    "3. Fit the model/algorithm and use it to make predictions on our data",
    "4. Evaluating a model",
    "5. Improve a model",
    "6. Save and load a trained model",
    "7. Putting it all together!"]
what_were_covering

['0. An end-to-end Scikit-Learn workflow',
 '1. Getting the data ready',
 '2. Choose the right estimator/algorithm for our problems',
 '3. Fit the model/algorithm and use it to make predictions on our data',
 '4. Evaluating a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together!']

In [2]:
# standard imports 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline
# Get the data Ready
heart_disease = pd.read_csv('./scikit-learn-data/heart-disease.csv')

In [3]:
import warnings 
warnings.filterwarnings("ignore")

In [4]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
# Create X ( features matrix )
x = heart_disease.drop( 'target' , axis=1 )

# Create Y ( Labels) 
y = heart_disease['target']

In [6]:
# choose the right model and hyperparameters 
from sklearn.ensemble import RandomForestClassifier 
clf = RandomForestClassifier(n_estimators = 100)

# keep the default hyperparameters 
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [7]:
# fit the model to the training data 
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(x, y , test_size=0.2)

In [8]:
clf.fit(x_train , y_train );

In [9]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2
280,42,1,0,136,315,0,1,125,1,1.8,1,0,1
230,47,1,2,108,243,0,1,152,0,0.0,2,0,2
282,59,1,2,126,218,1,1,134,0,2.2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3
63,41,1,1,135,203,0,1,132,0,0.0,1,0,1
125,34,0,1,118,210,0,1,192,0,0.7,2,0,2
238,77,1,0,125,304,0,0,162,1,0.0,2,3,2

In [10]:
# make a prediction 
y_preds = clf.predict(x_test)
y_preds

array([1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0], dtype=int64)

In [11]:
y_test

103    1
114    1
57     1
284    0
165    0
      ..
86     1
287    0
259    0
118    1
189    0
Name: target, Length: 61, dtype: int64

In [12]:
# Evaluate the model on the training data and test data
clf.score(x_train , y_train )
# Return the mean accuracy on the given test data and labels.

1.0

In [13]:
clf.score( x_test , y_test )

0.8360655737704918

In [14]:
from sklearn.metrics import classification_report , confusion_matrix , accuracy_score
print( classification_report( y_test , y_preds ) )

              precision    recall  f1-score   support

           0       0.74      0.81      0.77        21
           1       0.89      0.85      0.87        40

    accuracy                           0.84        61
   macro avg       0.82      0.83      0.82        61
weighted avg       0.84      0.84      0.84        61

In [15]:
confusion_matrix( y_test , y_preds)

array([[17,  4],
       [ 6, 34]], dtype=int64)

In [16]:
accuracy_score( y_test , y_preds )

0.8360655737704918

In [17]:
# improve a model 
# try different amount of n_estimators
np.random.seed(42)
for i in range(10 ,100 , 10):
    print(f"trying the model with {i} estimators " )
    clf = RandomForestClassifier(n_estimators=i ).fit(x_train , y_train)
    print(f" Model accuracy on test set: {clf.score( x_test , y_test ) * 100:2f}% " )
    print(" ")

trying the model with 10 estimators
 Model accuracy on test set: 80.327869%

trying the model with 20 estimators
 Model accuracy on test set: 83.606557%

trying the model with 30 estimators
 Model accuracy on test set: 81.967213%

trying the model with 40 estimators
 Model accuracy on test set: 83.606557%

trying the model with 50 estimators
 Model accuracy on test set: 78.688525%

trying the model with 60 estimators
 Model accuracy on test set: 81.967213%

trying the model with 70 estimators
 Model accuracy on test set: 83.606557%

trying the model with 80 estimators
 Model accuracy on test set: 81.967213%

trying the model with 90 estimators
 Model accuracy on test set: 83.606557%

In [18]:
# save the model 
import pickle 

# pickle.dump( clf , open("random_forst_model_1.pkl " , "wb") )

In [19]:
loaded_model = pickle.load(open("random_forst_model_1.pkl" , "rb") )
loaded_model.score( x_test , y_test )

1.0

## Getting our data ready to be used with machine learning

Three main things we have to do:

1. **Split the data into features and labels** (usually X & y)
   
2. **Filling** (also called imputing) **or disregarding missing values**
   
3. **Converting non-numerical values to numerical values** (also called feature encoding)

In [20]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [21]:
x = heart_disease.drop( 'target' , axis=1 )
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [22]:
y = heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [23]:
# split the data into training and test sets 
from sklearn.model_selection import train_test_split 
x_train , x_test , y_train , y_test = train_test_split(x ,
                                                       y ,
                                                       test_size=0.3)

In [24]:
x_train.shape  , x_test.shape , y_train.shape , y_test.shape

((212, 13), (91, 13), (212,), (91,))

In [25]:
x.shape[0] * 0

0

In [26]:
len( heart_disease )

303

## Make sure it`s all numerical

In [27]:
car_sales = pd.read_csv("./scikit-learn-data/car-sales-extended.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [28]:
car_sales["Doors"].value_counts()

Doors
4    856
5     79
3     65
Name: count, dtype: int64

In [29]:
len(car_sales)

1000

In [30]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [31]:
# Split into X/y
X = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

# Split into training and test
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size=0.2)

In [45]:
# Build machine learning model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
# model.fit(X_train, y_train)
# model.score(X_test, y_test)

In [33]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [34]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder="passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [38]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [39]:
pd.DataFrame(transformed_X)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [40]:
# Another way to do it with pd.dummies 
dummies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
dummies = dummies.astype(int)
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [50]:
# refit the model 
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split( transformed_X ,
                                                   y ,
                                                   test_size=0.2)
model.fit(X_train ,y_train )

RandomForestRegressor()

In [51]:
model.score(X_test,y_test)

0.3235867221569877