<img src="https://www.nimbous.co/wp-content/uploads/2019/07/scikit-learn-logo-1024x300.png" />

In [2]:
# Let's listify the contents
what_were_covering = [
    "0. An end-to-end Scikit-Learn workflow",
    "1. Getting the data ready",
    "2. Choose the right estimator/algorithm for our problems",
    "3. Fit the model/algorithm and use it to make predictions on our data",
    "4. Evaluating a model",
    "5. Improve a model",
    "6. Save and load a trained model",
    "7. Putting it all together!"]
what_were_covering

['0. An end-to-end Scikit-Learn workflow',
 '1. Getting the data ready',
 '2. Choose the right estimator/algorithm for our problems',
 '3. Fit the model/algorithm and use it to make predictions on our data',
 '4. Evaluating a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together!']

In [15]:
# Get the data Ready
import pandas as pd 
import numpy as np 
heart_disease = pd.read_csv('./scikit-learn-data/heart-disease.csv')

In [42]:
import warnings 
warnings.filterwarnings("ignore")

In [5]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
# Create X ( features matrix )
x = heart_disease.drop( 'target' , axis=1 )

# Create Y ( Labels) 
y = heart_disease['target']

In [11]:
# choose the right model and hyperparameters 
from sklearn.ensemble import RandomForestClassifier 
clf = RandomForestClassifier(n_estimators = 100)

# keep the default hyperparameters 
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [12]:
# fit the model to the training data 
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(x, y , test_size=0.2)

In [14]:
clf.fit(x_train , y_train );

In [16]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
190,51,0,0,130,305,0,1,142,1,1.2,1,0,3
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
113,43,1,0,110,211,0,1,161,0,0.0,2,0,3
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3
220,63,0,0,150,407,0,0,154,0,4.0,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,48,1,0,130,256,1,0,150,1,0.0,2,2,3
97,52,1,0,108,233,1,1,147,0,0.1,2,3,3
94,45,0,1,112,160,0,1,138,0,0.0,1,0,2
155,58,0,0,130,197,0,1,131,0,0.6,1,0,2
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2

In [18]:
# make a prediction 
y_preds = clf.predict(x_test)
y_preds

array([1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0], dtype=int64)

In [19]:
y_test

75     1
211    0
271    0
212    0
204    0
      ..
264    0
237    0
160    1
263    0
275    0
Name: target, Length: 61, dtype: int64

In [22]:
# Evaluate the model on the training data and test data
clf.score(x_train , y_train )
# Return the mean accuracy on the given test data and labels.

1.0

In [23]:
clf.score( x_test , y_test )

0.8852459016393442

In [24]:
from sklearn.metrics import classification_report , confusion_matrix , accuracy_score
print( classification_report( y_test , y_preds ) )

              precision    recall  f1-score   support

           0       0.93      0.83      0.88        30
           1       0.85      0.94      0.89        31

    accuracy                           0.89        61
   macro avg       0.89      0.88      0.88        61
weighted avg       0.89      0.89      0.88        61

In [25]:
confusion_matrix( y_test , y_preds)

array([[25,  5],
       [ 2, 29]], dtype=int64)

In [26]:
accuracy_score( y_test , y_preds )

0.8852459016393442

In [32]:
# improve a model 
# try different amount of n_estimators
np.random.seed(42)
for i in range(10 ,100 , 10):
    print(f"trying the model with {i} estimators " )
    clf = RandomForestClassifier(n_estimators=i ).fit(x_train , y_train)
    print(f" Model accuracy on test set: {clf.score( x_test , y_test ) * 100:2f}% " )
    print(" ")

trying the model with 10 estimators
 Model accuracy on test set: 85.245902%

trying the model with 20 estimators
 Model accuracy on test set: 90.163934%

trying the model with 30 estimators
 Model accuracy on test set: 90.163934%

trying the model with 40 estimators
 Model accuracy on test set: 90.163934%

trying the model with 50 estimators
 Model accuracy on test set: 91.803279%

trying the model with 60 estimators
 Model accuracy on test set: 85.245902%

trying the model with 70 estimators
 Model accuracy on test set: 85.245902%

trying the model with 80 estimators
 Model accuracy on test set: 88.524590%

trying the model with 90 estimators
 Model accuracy on test set: 85.245902%

In [40]:
# save the model 
import pickle 

pickle.dump( clf , open("random_forst_model_1.pkl " , "wb") )

In [41]:
loaded_model = pickle.load(open("random_forst_model_1.pkl" , "rb") )
loaded_model.score( x_test , y_test )

0.8524590163934426